<p id="notice"><%= notice %></p>

<h2><%= @name.name %> (<%= @name.key %>)</h2>

<p>Case Mentions: <%= @name.mentions.count %></p>

<% @name.mentions.each do |mention| %>
  
  <p>
  <strong>Case: (<%= mention.case.doc_id %>)</strong>
    <%= mention.case.content %>
  </p>
  <p>
<% end %>
