<h1>Case Documents</h1>

<div class="flickr_pagination">
  <%= will_paginate @cases %>
</div>

<% @cases.each do |c| %>
  <h2><%= link_to(c.doc_id, c) %> (from Case <%= c.case_id %>) - <%= c.doc_type %></h2>
  <p><%= truncate(c.content, length: 500) %></p>
<% end %>

<div class="flickr_pagination">
  <%= will_paginate @cases %>
</div>



