<p id="notice"><%= notice %></p>

<p>
  <strong>Case:</strong>
  <%= @case.case_id %>
</p>

<p>
  <strong>Doc:</strong>
  <%= @case.doc_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @case.doc_type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @case.content.html_safe %>
  </p>

<% @case.names.each do |name| %>
  <p><%= link_to(name.name, name) %></p>
<% end %>
