<h1>Listing mentions</h1>
<%= will_paginate @mentions %>
<table>
  <thead>
    <tr>
      <th>Case</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mentions.each do |mention| %>
      <tr>
        <td><%= mention.case.case_id %></td>
        <td><%= mention.name.name %></td>
        <td><%= link_to 'Show', mention %></td>
        <td><%= link_to 'Edit', edit_mention_path(mention) %></td>
        <td><%= link_to 'Destroy', mention, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @mentions %>
