<p id="notice"><%= notice %></p>

<p>
  <strong>Case:</strong>
  <%= @mention.case_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mention.name_id %>
</p>

<%= link_to 'Edit', edit_mention_path(@mention) %> |
<%= link_to 'Back', mentions_path %>
